<%= render "layouts/navbar" %>

<h1>Welcome To Music Billboards</h1>

<p>Welcome to our website! Use the navigation bar to see our </p>

<p>artists and billboards. While you're at it, make your own too.</p>